header {
    height: 100vh;
    background-color: $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: $eksell;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 2px;
    color: $pink;
    margin: 16px;
}

h2 {
    font-family: $apercu;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.6px;
    color: $blue;
    max-width: 600px;
    margin: 8px;
}