$sml: ( max: 570px );
$med: ( max: 680px );
$lrg: ( max: 750px );

$green: #316347;
// $orange: #ed810c;
// $pink: #f39d8c;
// $red: #ef493d;
// $blue: #cce7ce;
// $tan: #c9962b;
$coral: #f16d68;
$cream: #f6f0ea;
// $eggshell: #f3f1e2;
$grey: #292929;

// @font-face {
//     font-family: "Eksell";
//     src: url("../../../assets/fonts/EksellDisplay-Large.woff") format("woff"),
//     url("../../../assets/fonts/EksellDisplay-Large.woff2") format("woff2");
// }
// $eksell: "Eksell";

@font-face {
    font-family: "Apercu";
    src: url("../../../assets/fonts/apercu-light-pro.woff") format("woff"),
    url("../../../assets/fonts/apercu-light-pro.woff2") format("woff2");
}
$apercu: "Apercu";

@font-face {
    font-family: "Canela";
    src: url("../../../assets/fonts/Canela-Regular.woff") format("woff");
}
$canela: "Canela";

@font-face {
    font-family: "GT Pressura Mono";
    src: url("../../../assets/fonts/GT-Pressura-Mono.otf") format("opentype");
}
$pressura: "GT Pressura Mono";

$bodyFont: 'Source Code Pro', monospace; // weights: 300, 400
