$colorLight: #e9f7ff;
$colorMedium: #5698af;
$colorDark: #0e678e;

$colorSecondary: #e4816b;

@font-face {
    font-family: "HKGrotesk-Bold";
    src: url("../../../assets/fonts/HKGrotesk-Bold.otf") format("opentype");
}
$hk-bold: "HKGrotesk-Bold";

@font-face {
    font-family: "HKGrotesk-Regular";
    src: url("../../../assets/fonts/HKGrotesk-Regular.otf") format("opentype");
}
$hk-reg: "HKGrotesk-Regular";
