article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Eksell";
  src: url("../../../assets/fonts/EksellDisplay-Large.woff") format("woff"), url("../../../assets/fonts/EksellDisplay-Large.woff2") format("woff2"); }

@font-face {
  font-family: "Apercu";
  src: url("../../../assets/fonts/apercu-light-pro.woff") format("woff"), url("../../../assets/fonts/apercu-light-pro.woff2") format("woff2"); }

@font-face {
  font-family: "Canela";
  src: url("../../../assets/fonts/Canela-Regular.woff") format("woff"); }

@font-face {
  font-family: "GT Pressura Mono";
  src: url("../../../assets/fonts/GT-Pressura-Mono.otf") format("opentype"); }

body {
  background-color: #f6f0ea;
  overflow-x: hidden;
  overflow-y: scroll; }

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.scroll-container {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden; }

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11; }
  .navbar .toggleMenu {
    position: fixed;
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear; }
    .navbar .toggleMenu:hover > span {
      background-color: #f16d68; }
    .navbar .toggleMenu span {
      display: block;
      height: 4px;
      width: 40px;
      border-radius: 40px;
      background-color: #292929;
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      transition: all 0.4s ease; }
      .navbar .toggleMenu span:nth-child(1) {
        z-index: 9; }
      .navbar .toggleMenu span:nth-child(2) {
        margin-top: 12px; }
      .navbar .toggleMenu span:nth-child(3) {
        margin-top: 24px; }
    .navbar .toggleMenu ul {
      position: absolute;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      height: 0;
      width: 0;
      right: 0;
      top: 0;
      background-color: rgba(0, 53, 47, 0.54);
      border-radius: 50%;
      z-index: 18;
      overflow: hidden;
      text-align: right; }
      .navbar .toggleMenu ul .menuItem {
        font-family: "Apercu";
        display: block;
        height: auto;
        text-transform: uppercase;
        line-height: 1.6;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position: relative; }
        .navbar .toggleMenu ul .menuItem a {
          color: #cce7ce;
          font-size: 1.1rem;
          width: 100%;
          text-align: right;
          margin: 8px 0;
          text-decoration: none;
          position: relative; }
          .navbar .toggleMenu ul .menuItem a:hover {
            color: #f3f1e2; }
            .navbar .toggleMenu ul .menuItem a:hover:before {
              content: "*";
              font-size: 1.4rem;
              position: absolute;
              left: -16px; }
        .navbar .toggleMenu ul .menuItem:first-child {
          margin-top: 186px; }
    .navbar .toggleMenu.opened span:nth-child(1) {
      transform: rotate(45deg) translateY(12px) translateX(12px);
      z-index: 100;
      top: -7px; }
    .navbar .toggleMenu.opened span:nth-child(2) {
      height: 400px;
      width: 400px;
      right: -160px;
      top: -160px;
      border-radius: 50%;
      background-color: rgba(0, 53, 47, 0.54);
      overflow: visible; }
    .navbar .toggleMenu.opened span:nth-child(3) {
      transform: rotate(-45deg) translateY(-10px) translateX(10px);
      z-index: 100; }
    .navbar .toggleMenu.opened ul {
      opacity: 1;
      height: 400px;
      width: 400px; }
      .navbar .toggleMenu.opened ul .menuItem {
        margin-right: 168px; }

header {
  padding: 32px 0; }
  header h1 {
    font-family: "Canela";
    font-weight: 400;
    font-size: 5.5rem;
    letter-spacing: 2px;
    color: #292929;
    margin: 20vh 0 16px 0; }
    @media only screen and (max-width: 1300px) {
      header h1 {
        font-size: 7vw; } }
    @media only screen and (max-width: 900px) {
      header h1 {
        width: 85vw; } }
    @media only screen and (max-width: 620px) {
      header h1 {
        font-size: 3rem; } }
  header .subhead {
    font-family: "GT Pressura Mono";
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: #f16d68;
    max-width: 700px;
    margin: 4px; }
    @media only screen and (max-width: 860px) {
      header .subhead {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 620px) {
      header .subhead {
        font-size: 1.1rem; } }

.content {
  width: 65vw;
  padding-top: 48px; }
  @media only screen and (max-width: 620px) {
    .content {
      width: 75vw; } }
  @media only screen and (max-width: 550px) {
    .content {
      width: 85vw; } }

main .open {
  display: block; }

main article {
  display: none; }
  main article .articleTitle {
    font-family: "Canela";
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #292929; }
  main article .articleContent {
    max-width: 700px;
    width: 65vw; }
    @media only screen and (max-width: 620px) {
      main article .articleContent {
        width: 80vw; } }
    main article .articleContent p {
      font-family: "Apercu";
      font-size: 1.1rem;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 1.4;
      color: #292929;
      margin-top: 4px; }
      @media only screen and (max-width: 620px) {
        main article .articleContent p {
          font-size: 1rem; } }
  main article li {
    list-style: none;
    position: relative; }
    main article li a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #292929;
      font-family: "GT Pressura Mono";
      line-height: 1.6;
      position: relative;
      display: inline-block; }
      main article li a:hover {
        color: #f16d68; }
        main article li a:hover:before {
          content: "*";
          font-family: "Apercu";
          margin-left: -20px;
          margin-right: 10px;
          position: absolute;
          top: 1px;
          font-size: 1.4rem; }

footer {
  display: flex;
  justify-content: flex-start;
  width: calc(100vw - 64px);
  height: 50px; }
  footer .socials a {
    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 8px; }
    footer .socials a:first-child {
      margin-left: 0; }
    footer .socials a:hover {
      border: 1px solid #292929; }
  footer .socials i {
    color: #292929;
    font-size: 1.4rem; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
